
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/cd/updateCD}" method="post"
				enctype="multipart/form-data" action="">
				<fieldset>
					<legend class="center-block">
						Update CD Information <span style="font-size: small"> * is a
							required field</span>
					</legend>


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Title</label>

						<div class="col-md-8">
							<input name="title" type="text" class="form-control" id="title"
								th:value="${cd.title}" required="required" placeholder="Title" />
						</div>
					</div>

					<!-- musician -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="musician">*
							Musician</label>
						<div class="col-md-8">
							<input name="musician" type="text" class="form-control" id="musician"
								th:value="${cd.musician}" required="required"
								placeholder="Musician" />
						</div>
					</div>

					<!-- publisher -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="company">Company</label>
						<div class="col-md-8">
							<input name="company" type="text" class="form-control" id="company"
								th:value="${cd.company}" placeholder="Company" />
						</div>
					</div>

					<!-- release date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="releaseDate">Release
							Date</label>
						<div class="col-md-8">
							<input name="releaseDate" type="date" class="form-control" id="releaseDate"
								th:value="${cd.releaseDate}" />
						</div>
					</div>

					<!-- language -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="language">Language</label>
						<div class="col-md-8">
							<select name="language" th:value="${cd.language}" id="language"
								class="form-control">
								<option value="Korean">Korean</option>
								<option value="Japanese">Japanese</option>
								<option value="Chinese">Chinese</option>
								<option value="English">English</option>
							</select>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="col-md-8">
							<select name="category" th:value="${cd.category}" id="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Male Group" th:selected="(${cd.category}=='Male Group')">Male
									Group</option>
								<option value="Female Group" th:selected="(${cd.category}=='Female Group')">Female
									Group</option>
								<option value="Male Solo" th:selected="(${cd.category}=='Male Solo')">Male
									Solo</option>
								<option value="Female Solo" th:selected="(${cd.category}=='Female Solo')">Female
									Solo</option>
							</select>
						</div>
					</div>


					<!-- number of songs -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="numberOfSongs">Number
							of Songs</label>

						<div class="col-md-8">
							<input type="number" name="numberOfSongs" class="form-control"
								id="numberOfSongs" th:value="${cd.numberOfSongs}"
								placeholder="Number of Songs" />
						</div>
					</div>

					<!-- format -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="format">Format</label>
						<div class="col-md-8">
							<select th:value="${cd.format}" id="format" name="format"
								class="form-control">
								<option value="Disk">Disk</option>
								<option value="MP3">MP3</option>
							</select>
						</div>
					</div>

					<!-- reference -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="reference">Reference
						</label>

						<div class="col-md-8">
							<input type="text" name="reference" class="form-control"
								id="reference" th:value="${cd.reference}"
								placeholder="Reference" />
						</div>
					</div>


					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Shipping
							Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${cd.shippingWeight}" type="number" step="0.01"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Ounces</span>
							</div>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${cd.listPrice}" type="number"  step="0.01" name="listPrice"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
						</div>
					</div>


					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Number
							in stock</label>
						<div class="col-md-8">
							<input th:value="${cd.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" />
						</div>
					</div>
					
					<!-- status of cd -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label>
								<input value="true" type="radio" name="active" /> 
									Active 
							</label> 
								
							<label>
								<input value="false" type="radio" name="active" />
								Inactive 
							</label>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>

						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${cd.description}" th:text="${cd.description}"
								placeholder="Description">
							</textarea>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
				
						<label class="col-md-2" for="cdImage">Upload CD image</label>
					
						<div class="col-md-8">
							<input id="cdImage" type="file" name="cdImage"
								th:value="${cd.cdImage}" />
						</div>
					</div>

					<div class="form-group">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<button type="submit" class="btn btn-success">Update CD</button>
						<a class="btn btn-danger" th:href="@{/cd/cdInfo(id=${cd.id})}">Cancel</a>
					</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
